<%= simple_form_for article do |f| %>

  <div class="form-group">
    <%= f.input :title %>
  </div>

  <div class="form-group">
    <%= f.rich_text_area :body, as: :text %>
  </div>

  <div class="form-group">
    <%= f.input_field :user_id, as: :hidden, value: current_user.id %>
  </div>

  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
